@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Source Sans 3", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --black-color: #1e1c1c;
    --white-color: #f7f7f7;
}

.slidein {
    animation: slideAnimation 1s ease var(--slidein-delay, 0) forwards;
}

@keyframes slideAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fadeIn {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fastFadeIn {
    animation: fadeIn 0.5s;
    animation-direction: alternate;
}

@keyframes fastFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.myShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#arrowRotate:hover {
    i {
        transform: rotate(180deg);
    }
}

#dropDown {
    ul {
        opacity: 0;
        top: 5rem;
        z-index: -10;
        display: none;
    }
}

#dropDown:hover {
    ul {
        display: block;
        z-index: 50;
        top: 4rem;
        opacity: 1;
    }
}

#resDropDown {
    ul {
        opacity: 0;
        top: 5rem;
        z-index: -10;
        display: none;
    }
}

#resDropDown:hover {
    ul {
        display: block;
        z-index: 50;
        top: 4rem;
        opacity: 1;
    }
}

img,
button,
a,
iframe {
    user-select: none;
}

#hoverToShowData:hover #data {
    transform: translateY(0);

}
#hoverToShowData:hover #data img {
    opacity: 0;    
}

.borderWidth::before {
    content: '';
    border-style: solid;
    border-width: 235px 163px 0 0;
    border-color: #71588c transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
}
.borderWidth2::before {
    content: '';
    border-style: solid;
    border-width: 235px 163px 0 0;
    border-color: #f7931e transparent transparent transparent;
    position: absolute;
    left: 0;
    top: 0;
}